.swiper {
  width: 100%;
  height: 100%;

  &-button-prev {
    color: currentColor !important;
  }

  &-button-next {
    color: currentColor !important;
  }

  &-pagination-bullet-active {
    background-color: currentColor !important;
  }
}

@include responde(tab-port) {
  .swiper__item {
    text-align: -webkit-center;
  }
}

@include responde(tab-land) {
  .container-pageHome {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .image-hero {
    width: 300px;
    height: 320px;
  }
}